/* styles/type.css */
.typewriter {
  display: inline-block; /* テキストの幅に合わせる */
  overflow: hidden; /* 内容がはみ出さないように */
  white-space: nowrap; /* 一行に収める */
  margin: 0 auto;
  letter-spacing: 0em; /* 必要に応じて調整 */
  animation: typing 3.5s steps(8, end) forwards; /* ステップアニメーション */
  position: relative; /* 疑似要素の配置用 */
}

/* 疑似要素でカーソルを表現 */
.typewriter ::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 0.35em solid rgb(246, 0, 0); /* カーソルの見た目 */
  animation: blink-caret 0.75s step-end infinite, hide-cursor 0.1s forwards 3.5s;
}

/* タイピングアニメーション（幅がテキストの実際の幅に合わせて増加） */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    /* width: 100%; */
    width: 100%;
  }
}

/* カーソルの点滅アニメーション */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 0, 0);
  }
}

/* タイピング終了後にカーソルを非表示にする */
@keyframes hide-cursor {
  to {
    opacity: 0;
  }
}
